@layer base {
    :root {
        --background: 0 0% 0%;
        --foreground: 0 0% 100%;

        --primary: 24 100% 50%;
        --primary-foreground: 0 0% 100%;

        --secondary: 0 0% 15%;
        --secondary-foreground: 0 0% 100%;

        --accent: 16 90% 48%;
        --accent-foreground: 0 0% 100%;

        --border: 0 0% 20%;
        --ring: 24 100% 50%;
    }
}