@layer base {
    :root {
        --background: 25 15% 7%;
        --foreground: 30 20% 98%;

        --accent: 25 95% 60%;
        --accent-foreground: 0 0% 0%;

        --muted: 25 10% 20%;
        --muted-foreground: 0 0% 65%

        --border: 25 10% 25%;
        --ring: 25 95% 60%;
    }
}